BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120

DerivePointerAlignment: false
PointerAlignment: Left

AlignOperands: true
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowShortIfStatementsOnASingleLine: Never
AlignConsecutiveAssignments: Consecutive
AlignTrailingComments: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  AfterClass: true
  AfterCaseLabel: false
  AfterControlStatement: Always
  AfterFunction: true
  AfterNamespace: true
  BeforeCatch: true

SpaceAfterTemplateKeyword: false

AccessModifierOffset: -4
IndentAccessModifiers: false
EmptyLineAfterAccessModifier: Never

FixNamespaceComments: true
NamespaceIndentation: All