BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120

DerivePointerAlignment: false
PointerAlignment: Left

AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline

AlignOperands: AlignAfterOperator
AlignConsecutiveAssignments: Consecutive
AlignTrailingComments: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterCaseLabel: false
  AfterControlStatement: Always
  AfterFunction: true
  AfterNamespace: true
  BeforeCatch: true
  BeforeElse: true

#BreakBinaryOperations: OnePerLine #Requires clang-format version >20
BreakBeforeBinaryOperators: All 


SpaceAfterTemplateKeyword: false

AccessModifierOffset: -4
IndentAccessModifiers: false
EmptyLineAfterAccessModifier: Never

FixNamespaceComments: true
NamespaceIndentation: All